node_modules
!node_modules/await-notify
!node_modules/node-pty
!node_modules/@types
!node_modules/@vscode
node_modules/@vscode/vsce

src
!src/assertionScript.js
!src/compareScript.js
!src/decompositionScript.js
!src/focusScript.js
!src/filterScript.js

out
.vscode
SampleWorkspace
tsconfig.json
package.lock.json